---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import MenuOverlay from "../components/MenuOverlay.astro";
import AboutSection from "../components/AboutSection.astro";
import PhilosophySection from "../components/PhilosophySection.astro";
import YearsBanner from "../components/YearsBanner.astro";
import Footer from "../components/Footer.astro";
---
<Base>
  <MenuOverlay />
  <Header />
  <main>
    <AboutSection />
    <PhilosophySection />
    <YearsBanner />
  </main>
  <Footer />
</Base>
